<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>base react app</title>
    <!-- <link rel="stylesheet" href="public/style.css" /> -->
  </head>
  <body>
    <section id="app"></section>
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
  </body>
</html>
